* {
    margin:0;
    padding:0;
    box-sizing: border-box ;
}

body {
    font-family: 'Segoe UI';
    background-color: #f8f8f8;
}

.topbar {
    background-color: white;
    padding: 12px 40px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    box-shadow: 0 1px 3px black;
    position:sticky;
}

.left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo {
    width: 120px;
    height:auto;
    color: #e21b70;
    font-size: 24px;
    font-weight: bold;
}

.address {
    display:flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
}

.right {
    display:flex;
    align-items: center;
    gap: 15px;
}

.login-btn {
    background-color: white;
    border: 1px solid #ddd;
    padding: 8px 20px;
    border-radius: 6px;
    font-size: 14px;
}

.signup-btn {
    background: #e21b70;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
}

.search-section input {
    background-color: white;
    padding: 10px 20px;
    border-radius: 8px;
    border:none;
    flex:1;
    font-size: 16px;
    max-width: 1000px;
    width:100%;
    padding-left:40px;
    position: sticky;
}

.container {
    max-width: 1440px;
    margin: auto;
    padding: 25px 40px;
    display:flex;
    gap: 30px;
}

.main-left {
    flex:1;
}

.main-left h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    &:nth-of-type(2) {
        margin-top: 40px;
    }
}

.categories {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap:15px;
    margin-bottom:40px;

}

.cat-card {
    background-color: white;
    border-radius: 12px;
    padding:20px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;

}

.cat-card:hover {
    transform: translateY(2px);
    box-shadow: 0 4px 12px gray;
}

.cat-card img {
    width: 100%;
    height: 140px;
    display: block;
    object-fit: contain;
    margin-bottom: 10px;
}

.cat-card p {
    font-size: 14px;
    font-weight: 600;
}

.products {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap:20px;
    margin-bottom:40px;
}

.product-card {
    background-color: white;
    border-radius: 12px;
    padding: 15px;
    transition: transform 0.2s, box-shadow 0.2s;
    position:relative;
    padding-bottom: 40px; 
    height: 320px; 
}

.product-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px gray;
}

.product-img {
    width: 100%;
    height: 140px;
    display: block;
    object-fit: contain;
    margin-bottom: 10px;
}

.prices {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 10px;
}

.prices-new {
    color: #e21b70;
    font-weight: bold;
    font-size: 16px;

}

.prices-old {
    color:darkcyan;
    font-size: 14px;
    text-decoration: line-through;
}

.save-text {
    background: #ffe8f0;
    color: #e21b70;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 11px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 8px;
}

.discount {
    background: #ffe8f0;
    color: #e21b70;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 11px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 8px;
}

.pname { 
    font-size: 13px;
    color: #333;
    line-height: 1.4;
    height: 36px;
}

.add-btn:hover {
    background-color: #e21b70;
    color:white;
    border-color: #e21b72;
}

.cart {
    width: 320px;
    position: sticky;
    top: 20px;
    height:fit-content;
    background-color: white;
    border-radius: 12px;
    padding: 20px;
}

.cart h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.cart-text { 
    text-align: center;
    color: gray;
    font-size: 14px;
    padding: 20px 0;
}

.cart-summary {
    border-top:1px solid #ddd;
    padding-top: 15px;
    margin-top: 15px;
}

.checkout-btn {
    width:100%;
    background: rgb(224, 216, 216);
    color:gray;
    border:none;
    padding:15px;
    border-radius: 8px;
    font-size:15px;
    font-weight: 500;
    margin-top:15px;
}

.line {
    display:flex;
    justify-content: space-between;
    margin-bottom: 12px;
    font-size: 14px;
}